<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>File Upload</title>
	</head>
	<body>
		<form style="display: flex; flex-direction: column; width: 20%;" method="POST" action="/upload" enctype="multipart/form-data">
			<input type="file" name="inputFile" />
			<textarea placeholder="" name = 'description' rows = '4' col = '1' placeholder="description..."></textarea>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
